* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: "Lato", sans-serif;
}
/* card */
.card {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.5s;
}
.card:hover {
    background: rgba(132, 173, 212, 0.2); 
}
.card:hover.card .card-body ul li{
    display: block;
}
.card>img {
    height: 15rem;
}
.card .card-body ul{
    list-style: none;
}
.card .card-body ul li {
    font-style: italic;
    font-weight: 500;
    color: rgb(115, 122, 122);
    display: none; 
}
/* end card */

#hienThiProducts .col-3 {
    height: 30rem;

}

/* css tăng giảm */
.tangGiam {
    transition: .3s;
}

.tangGiam:hover {
    background: rgb(209, 104, 104);
}
/* end tăng giảm */

/* loading */
#loading {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
/* end loading */


.cart-icon {
    position: fixed;
    right: 5%;
    top: 5%;
}
#number-carts {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 70px;
    background-color: white;
}

/* side bar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
}

.openbtn:hover {
    background-color: white;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}


/* card-cart */
.card-cart {
    flex-direction: row;
}

.card-cart span.text-danger {
    cursor: pointer;
}
.card-cart img {
    object-fit: contain;
    padding: 20px;
    max-height: 10rem;
    max-width: 12rem;
    
}
.font-italic {
    z-index: 99;
    color: wheat;
}

